
.mat-mdc-table {
    width: 100%;
    max-height: 750px;
    overflow: auto;
    mat-header-cell{
        background-color: rgb(217, 217, 217);
        color: rgb(50, 67, 149);
        font-size: 25px
    }
    img{
        width: 100%;
        max-width: 75px;
    }
}

.mat-column-name {
    height: 80px;
    width: 40%;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
}
  
.mat-column-logo {
    padding-left: 16px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .logo-container img {
    margin-right: 8px;
  }
  
  .logo-container mat-icon {
    cursor: pointer; /* Si deseas que sea interactivo */
  }
