<mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.SlideDescription}} </mat-cell>
  </ng-container>
  
  <ng-container matColumnDef="logo">
    <mat-header-cell *matHeaderCellDef> Logo </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <div class="logo-container">
        <img [src]="element.logoUrl" alt="">
        <mat-icon matTooltip="Upload a single image" [matTooltipPosition]="position.value!" (click)="toggleImageUploadBox(element)">cloud_upload</mat-icon>
      </div>
    </mat-cell>
  </ng-container>
  
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

  
  
  
