<div class="container">
    <div class="container-icon">
        <div>
            <search (projectChange)="initializeProject()"></search>
        </div>
        <h2 style="text-align: center">{{updateLogoStore.projectName() | removeUnderscore}}</h2>
        <div class="example-button-container">
            <button (click)="toggleImageUploadBox()" mat-mini-fab aria-label="Example icon button with a menu icon" >
              <mat-icon >collections</mat-icon>
            </button>
        </div>
    </div>    
    <app-table [data]="updateLogoStore.slidesData() ?? []"></app-table>
</div>

